 <form method="post" action="{{ path('plateforme_delete', {'id': plateforme.id,'login': app.user.login}) }}" onsubmit="return confirm('Etes vous sur de vouloir supprimer cet élément?');">

     <input type="hidden" name="_method" value="DELETE">
     <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ plateforme.id) }}">

         <button class="btn btn-primary btn-lg btn-block">
             Supprimer
         </button>

 </form>

