 {% extends 'base.html.twig' %}


     {% block metaTitle %}
         " Gestionnaire de plateforme "
     {% endblock %}


     {% block title %}
         Gestionnaire de plateforme
     {% endblock %}
     
     {% block body %}

         <h1 class="h3 mb-3 font-weight-normal"> Gestionnaire de plateforme </h1>
     
             {{ include('plateforme/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
     
             {{ include('plateforme/_delete_form.html.twig') }}

             <a class="btn btn-primary btn-lg btn-block" href="{{ path('plateforme_index_admin') }}"> Retour à la liste </a>     

     {% endblock %}
