 {% extends 'base.html.twig' %}


     {% block metaTitle %}
         " Gestionnaire d'article "
     {% endblock %}


     {% block title %} 
         Gestionnaire d'article 
     {% endblock %}

     {% block body %}



          <h1 class="h3 mb-3 font-weight-normal"> Gestionnaire d'article </h1>


             {{ include('home/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

             <a class="btn btn-primary btn-lg btn-block" href="{{ path('home_index') }}"> Retour à la liste </a>

             {{ include('home/_delete_form.html.twig') }}

     {% endblock %}
