{% extends 'base.html.twig' %}


     {% block metaTitle %}
         " Créer une publication "
     {% endblock %}


     {% block title %}
         Créer une publication
     {% endblock %}

     {% block body %}

         <h1> Créer une publication </h1>
         
             {{ include('home/_form.html.twig') }}

             <a href="{{ path('home_index') }}"> Retour à la liste </a>

     {% endblock %}
