{% extends 'base.html.twig' %}


     {% block metaTitle %}
         " Créer une publication "
     {% endblock %}


     {% block title %}
         Créer une publication
     {% endblock %}

     {% block body %}



         <h1 class="h3 mb-3 font-weight-normal"> Créer une publication </h1>
         
             {{ include('home/_form.html.twig') }}

             <a class="btn btn-primary btn-lg btn-block" href="{{ path('home_index') }}"> Retour à la liste </a>

     {% endblock %}
