{% extends 'base.html.twig' %}

     {% block title %}
         New Home
     {% endblock %}

     {% block body %}
         <h1> Créer une publication </h1>
            {# A valider: le titre H1 #}

      {{ include('home/_form.html.twig') }}

     <a href="{{ path('home_index') }}"> Retour à la liste </a>
     {% endblock %}
