<div class="footerMain">
    <div class="adresse">
        <h1>ADRESSE du Blockstudio: </h1>
        <p>
            24 rue notre dame <br/>
            91100 Corbeil-Essonnes, France <br/>
        </p>
    </div>
    <div class="Horaires">
        <h1>HORAIRES du Blockstudio:</h1>
        <p>
            Ouvert 7/7 <br/>
            de 10H à 06H  <br/>
            même jours fériés <br/>
        </p>
    </div>
    <div class="SocialNav">
        <nav>
            <a href="#" class="fa fa-youtube"></a>
            <a href="#" class="fa fa-instagram"></a>
            <a href="#" class="fa fa-snapchat"></a>
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-twitter"></a>
        </nav>
    </div>
</div>


