 
 <div class="footerMain">

     {# ***** BLOC FOOTER: ADRESSE ***** #}
     <div id="WRchTxt5" class="Adresse" data-testid="richTextElement">

         {# *** BLOC TEXTE: TITRE DU BLOC *** #}
         <p class="font_7" style="text-align:center;font-size:16px">
                     
                         <span class="color_18">

                             <span style="font-weight:bold">                
                                 ADRESSE DU BLOCK STUDIO: &nbsp;                    
                             </span>

                         </span>

         </p>

         {# *** BLOC ADRESSE *** #}
         <p class="font_7" style="text-align:center;font-size:16px">
            
                         <a href="#" target="_self">
                         
                             <span class="color_18">
                             
                                 <span style="text-decoration:underline;">

                                     <span style="font-weight:bold"> 
                                         24 rue notre dame <br/>
                                         91100 Corbeil-Essonnes, France <br/>
                                     </span>
                                     
                                </span>

                             </span>

                        </a>

         </p>

         {# *** BLOC ESPACE VIDE (a modifier je pense !) *** #}
         <p class="font_7" style="text-align:center;font-size:16px">

                           <span style="color:#FFFFFF">
                         
                                 <span style="font-weight:bold">

                                     <span class="wixGuard">
                                         &#8203;
                                     </span>

                                 </span>

                             </span>
                             
         </p>
             
     </div>

     {# ***** BLOC FOOTER: HORAIRES ***** #}
     <div id="WRchTxt5" class="Horaires" data-testid="richTextElement">

         {# *** BLOC TEXTE: TITRE DU BLOC *** #}
         <p class="font_7" style="text-align:center;font-size:16px">
                     
                         <span class="color_18">

                             <span style="font-weight:bold">                
                                 HORAIRES DU BLOCK STUDIO &nbsp;                    
                             </span>

                         </span>

         </p>

         {# *** BLOC HORAIRES D'OUVERTURE *** #}
         <p class="font_7" style="text-align:center;font-size:16px">
            
                         <a href="#" target="_self">
                         
                             <span class="color_18">
                             
                                 <span style="text-decoration:underline;">

                                     <span style="font-weight:bold"> 
                                         Ouvert 7/7 <br/>
                                         de 10H à 06H <br/>
                                         même jours fériés <br/>
                                     </span>
                                     
                                </span>

                             </span>

                        </a>

         </p>

         {# *** BLOC ESPACE VIDE (a modifier je pense !) *** #}
         <p class="font_7" style="text-align:center;font-size:16px">

                             <span style="color:#FFFFFF">
                         
                                 <span style="font-weight:bold">

                                     <span class="wixGuard">
                                         &#8203;
                                     </span>

                                 </span>

                             </span>
                             
         </p>
             
     </div>

     {# ***** BLOC FOOTER: RENDEZ-VOUS ***** #}
     <div id="WRchTxt5" class="ReservationNav" data-testid="richTextElement">

         {# *** BLOC TEXTE: TITRE DU BLOC *** #}
         <p class="font_7" style="text-align:center;font-size:16px">
                     
                         <span class="color_18">

                             <span style="font-weight:bold">                
                                 SUR RENDEZ-VOUS UNIQUEMENT&nbsp;                    
                             </span>

                         </span>

         </p>

         {# *** BLOC RESERVEZ ICI *** #}
         <p class="font_7" style="text-align:center;font-size:16px">
            
                         <a href="#" target="_self">
                         
                             <span class="color_18">
                             
                                 <span style="text-decoration:underline;">

                                     <span style="font-weight:bold"> 
                                         Réservez ici&nbsp;
                                     </span>
                                     
                                </span>

                             </span>

                        </a>

         </p>

         {# *** BLOC ESPACE VIDE (a modifier je pense !) *** #}
         <p class="font_7" style="text-align:center;font-size:16px">

                             <span style="color:#FFFFFF">
                         
                                 <span style="font-weight:bold">

                                     <span class="wixGuard">
                                         &#8203;
                                     </span>

                                 </span>

                             </span>
                             
         </p>

         {# *** BLOC INFO NUMERO DE TELEPHONE *** #}
         <p class="font_7" style="text-align:center;font-size:16px">

                             <span style="color:#FFFFFF">
                             
                                 <span style="font-weight:bold">
                                     📱 Infos: 06.15.68.70.53
                                 </span>
                                 
                             </span>
                             
         </p>
             
     </div>
     
     {# ***** BLOC FOOTER: LIENS RÉSEAUX SOCIAUX ***** #}
     <div id="WRchTxt5" class="SocialNav" data-testid="richTextElement">

         {# *** BLOC TEXTE: TITRE DU BLOC *** #}
         <p class="font_7" style="text-align:center;font-size:16px">
                     
                         <span class="color_18">

                             <span style="font-weight:bold">                
                                 LIENS RÉSEAUX SOCIAUX: &nbsp;                    
                             </span>

                         </span>

         </p>

         {# *** BLOC LIENS RÉSEAUX SOCIAUX *** #}
         <p class="font_7" style="text-align:center;font-size:16px">
            
                         <a href="#" target="_self">
                         
                             <span class="color_18">
                             
                                 <span style="text-decoration:underline;">

                                     <span style="font-weight:bold"> 
                                         <a href="#" class="fa fa-youtube"></a>
                                         <a href="#" class="fa fa-instagram"></a>
                                         <a href="#" class="fa fa-snapchat"></a>
                                         <a href="#" class="fa fa-facebook"></a>
                                         <a href="#" class="fa fa-twitter"></a>
                                     </span>
                                      
                                </span>

                             </span>

                        </a>

         </p>

         {# *** BLOC ESPACE VIDE (a modifier je pense !) *** #}
         <p class="font_7" style="text-align:center;font-size:16px">

                             <span style="color:#FFFFFF">
                         
                                 <span style="font-weight:bold">

                                     <span class="wixGuard">
                                         &#8203;
                                     </span>

                                 </span>

                             </span>
                             
         </p>
             
     </div>

 </div>




      
