 
 <div class="footerMain">

     {# ***** BLOC FOOTER: ADRESSE ***** #}
     <div id="WRchTxt5" class="Adresse" data-testid="richTextElement">

         {# *** BLOC TEXTE: TITRE DU BLOC *** #}
         <p class="font_7" style="text-align:center;font-size:16px">
                     
             <span class="color_18">

                 <article style="font-weight:bold">                
                     ADRESSE DU BLOCK STUDIO: &nbsp;                    
                 </article>

             </span>

         </p>

         {# *** BLOC ADRESSE *** #}
         <p class="font_7" style="text-align:center;font-size:16px">
            
             <a href="#" target="_self">
             
                 <span class="color_18">
                 
                     <span style="text-decoration:underline;">

                         <address style="font-weight:bold"> 
                             24 rue notre dame <br/>
                             91100 Corbeil-Essonnes, France <br/>
                         </address>
                         
                     </span>

                 </span>

             </a>

         </p>

         {# *** BLOC ESPACE VIDE (a modifier je pense !) *** #}
         <p class="font_7" style="text-align:center;font-size:16px">

             <span style="color:#FFFFFF">
           
                     <span style="font-weight:bold">

                         <article class="wixGuard">
                             &#8203;
                         </article>

                     </span>

               </span>
                             
         </p>
             
     </div>

     {# ***** BLOC FOOTER: HORAIRES ***** #}
     <div id="WRchTxt5" class="Horaires" data-testid="richTextElement">

         {# *** BLOC TEXTE: TITRE DU BLOC *** #}
         <p class="font_7" style="text-align:center;font-size:16px">
                     
             <span class="color_18">

                 <article style="font-weight:bold">                
                     HORAIRES DU BLOCK STUDIO &nbsp;                    
                 </article>

             </span>

         </p>

         {# *** BLOC HORAIRES D'OUVERTURE *** #}
         <p class="font_7" style="text-align:center;font-size:16px">
            
             <a href="#" target="_self">
             
                 <span class="color_18">
                 
                     <span style="text-decoration:underline;">

                         <article style="font-weight:bold"> 
                             Ouvert 7/7 <br/>
                             de 10H à 06H <br/>
                             même jours fériés <br/>
                         </article>
                         
                    </span>

                 </span>

            </a>

         </p>

         {# *** BLOC ESPACE VIDE (a modifier je pense !) *** #}
         <p class="font_7" style="text-align:center;font-size:16px">

             <span style="color:#FFFFFF">
         
                 <span style="font-weight:bold">

                     <article class="wixGuard">
                         &#8203;
                     </article>

                 </span>

             </span>
                             
         </p>
             
     </div>

     {# ***** BLOC FOOTER: RENDEZ-VOUS ***** #}
     <div id="WRchTxt5" class="ReservationNav" data-testid="richTextElement">

         {# *** BLOC TEXTE: TITRE DU BLOC *** #}
         <p class="font_7" style="text-align:center;font-size:16px">
                     
             <span class="color_18">

                 <article style="font-weight:bold">                
                     SUR RENDEZ-VOUS UNIQUEMENT&nbsp;                    
                 </article>

             </span>

         </p>

         {# *** BLOC RESERVEZ ICI *** #}
         <p class="font_7" style="text-align:center;font-size:16px">
            
             <a href="#" target="_self">
             
                 <span class="color_18">
                 
                     <span style="text-decoration:underline;">

                         <article style="font-weight:bold"> 
                             Réservez ici&nbsp;
                         </article>
                         
                    </span>

                 </span>

             </a>

         </p>

         {# *** BLOC ESPACE VIDE (a modifier je pense !) *** #}
         <p class="font_7" style="text-align:center;font-size:16px">

             <span style="color:#FFFFFF">
         
                 <span style="font-weight:bold">

                     <article class="wixGuard">
                         &#8203;
                     </article>

                 </span>

             </span>
                             
         </p>

         {# *** BLOC INFO NUMERO DE TELEPHONE *** #}
         <p class="font_7" style="text-align:center;font-size:16px">

             <span style="color:#FFFFFF">
             
                 <article style="font-weight:bold">
                     📱 Infos: 06.15.68.70.53
                 </article>
                 
             </span>
                             
         </p>
             
     </div>
     
     {# ***** BLOC FOOTER: LIENS RÉSEAUX SOCIAUX ***** #}
     <div id="WRchTxt5" class="SocialNav" data-testid="richTextElement">

         {# *** BLOC TEXTE: TITRE DU BLOC *** #}
         <p class="font_7" style="text-align:center;font-size:16px">
                     
             <span class="color_18">

                 <article style="font-weight:bold">                
                     LIENS RÉSEAUX SOCIAUX: &nbsp;                    
                 </article>

             </span>

         </p>

         {# *** BLOC LIENS RÉSEAUX SOCIAUX *** #}
         <p class="font_7" style="text-align:center;font-size:16px">
            
             <a href="#" target="_self">
             
                 <span class="color_18">
                 
                     <span style="text-decoration:underline;">

                         <article style="font-weight:bold"> 
                             <a href="https://www.youtube.com/user/Blockstudio91100" class="fa fa-youtube" target="blank"></a>
                             <a href="https://www.instagram.com/blockstudio" class="fa fa-instagram" target="blank"></a>
                             <a href="https://www.snapchat.com/add/blockstudio" class="fa fa-snapchat" target="blank"></a>
                             <a href="https://www.facebook.com/blockstudio.officiel" class="fa fa-facebook" target="blank"></a>
                             <a href="https://twitter.com/Blockstudio91" class="fa fa-twitter" target="blank"></a>
                         </article>
                          
                    </span>

                 </span>

             </a>
 
         </p>

         {# *** BLOC ESPACE VIDE (a modifier je pense !) *** #}
         <p class="font_7" style="text-align:center;font-size:16px">

             <span style="color:#FFFFFF">
      
                 <span style="font-weight:bold">

                     <article class="wixGuard">
                         &#8203;
                     </article>

                 </span>

             </span>
                             
         </p>
             
     </div>

 </div>




      
