 
 <div class="footerMain">

     <div class="container px-4 py-5" id="featured-4">
     
         <h2 id="titleblock" class="pb-2 border-bottom"> À propos du BlockStudio </h2>
     
             {# <div class="row g-4 py-5 row-cols-1 row-cols-lg-3"> #}
             <div class="row">
     
                 {# ***** Colonne n°1 ***** #}

                     <div class="feature col">
     
                         {# <div class="feature-icon bg-primary bg-gradient">
     
                             <svg class="bi" width="1em" height="1em">
                                 <use xlink:href="#collection"></use>
                             </svg>
     
                         </div> #}
     
                         <h2> Adresse </h2>
     
                         <p> 
                             24 rue notre dame <br/>
                             91100 Corbeil, <br/>
                             Essonnes, France 
                         </p>
     
                         {# <a href="#" class="icon-link">
     
                             Call to action
     
                                 <svg class="bi" width="1em" height="1em">
                                    <use xlink:href="#chevron-right"></use>
                                 </svg>
     
                         </a> #}
                         
                     </div>
     
                 {# ***** Colonne n°2 ***** #}

                     <div class="feature col">
     
                         {# <div class="feature-icon bg-primary bg-gradient">
     
                             <svg class="bi" width="1em" height="1em">
                                 <use xlink:href="#people-circle"></use>
                             </svg>
     
                         </div> #}
     
                         <h2> Horaires  </h2>
     
                         <p> 
                             Ouvert 7/7 <br/>
                             de 10H à 06H <br/>
                             même jours fériés 
                         </p>
     
                         {# <a href="#" class="icon-link">
     
                             Call to action
     
                                 <svg class="bi" width="1em" height="1em">
                                     <use xlink:href="#chevron-right"></use>
                                 </svg>
     
                         </a> #}
     
                     </div>
     
                 {# ***** Colonne n°3 ***** #}

                     <div class="feature col">
     
                         {# <div class="feature-icon bg-primary bg-gradient">
     
                             <svg class="bi" width="1em" height="1em">
                                 <use xlink:href="#toggles2"></use>
                             </svg>
     
                         </div> #}
     
                         <h2> Réservations </h2>
     
                         <p>
                             Sur rendez-vous uniquement <br/>
                             Réservez-ici <br/>
                             {# ! todo: <kbd> (Lien à définir) </kbd> #}
                             📱 Infos: <a href="tel:+33615687053">06.15.68.70.53</a>
                         </p>
     
                         {# <a href="#" class="icon-link">
     
                             Call to action
     
                                 <svg class="bi" width="1em" height="1em">
                                     <use xlink:href="#chevron-right"></use>
                                 </svg>
     
                         </a> #}
     
                     </div>

                 {# ***** Colonne n°4 ***** #}

                     <div class="feature col">
     
                         {# <div class="feature-icon bg-primary bg-gradient">
     
                             <svg class="bi" width="1em" height="1em">
                                 <use xlink:href="#toggles2"></use>
                             </svg>
     
                         </div> #}
     
                         <h2> Réseaux sociaux  </h2>                          
     
                         <article style="font-weight:bold"> 
                             <a href="https://www.youtube.com/user/Blockstudio91100" class="fa fa-youtube" target="blank"></a>
                             <a href="https://www.instagram.com/blockstudio" class="fa fa-instagram" target="blank"></a>
                             <a href="https://www.snapchat.com/add/blockstudio" class="fa fa-snapchat" target="blank"></a>
                             <a href="https://www.facebook.com/blockstudio.officiel" class="fa fa-facebook" target="blank"></a>
                             <a href="https://twitter.com/Blockstudio91" class="fa fa-twitter" target="blank"></a>
                         </article>

                         {# <a href="#" class="icon-link">
     
                             Call to action
     
                                 <svg class="bi" width="1em" height="1em">
                                     <use xlink:href="#chevron-right"></use>
                                 </svg>
     
                         </a> #}
     
                     </div>

             </div>
     
     </div>

 </div>

      
