 .searchbar
     {
         
         margin-top: 5px;
         margin-bottom: 20px;
         height: 60px;
         background-color: rgb(0 0 0); 
         border-radius: 30px;
         padding: 10px;
     }

     /*  
         text-align: center;
         border: groove 1px;
         box-shadow: 1px 1px 1px orange;
         border-radius: 3px;
         padding: 8px;
         margin: 16px;     
     */

 .search_input
     {
         color: white;
         border: 0;
         outline: 0;
         background: none;
         width: 0;
         /* caret-color:transparent; */
         line-height: 40px;
         transition: width 0.4s linear;
     }
     
 .searchbar:hover > .search_input
     {
         padding: 0 10px;
         width: 450px;
         caret-color:red;
         transition: width 0.4s linear;
     }

 .searchbar:hover > .search_icon
     {
         background: white;
         color: #e74c3c;
     }

 .search_icon
     {
         color:orange;     
         height: 40px;
         width: 40px;
         float: right;
         /* display: flex; */
         justify-content: center;
         /* align-items: center; */
         border-radius: 30px;
         /* text-decoration:none; */
     }