 *
     {
         font-family: 'Roboto', sans-serif;
     }
 
/* *** Style des titres *** */

 h1 
     {
         text-align: center;
     }

 #h1_contact
     {
         text-align: center;
         border: groove 1px;
         box-shadow: 1px 1px 1px orange;
         border-radius: 3px;
         padding: 8px;
         margin: 16px;
     }  

 .TextFrame h1
     {
         font-size: 1rem;
     }

 .TextFrame h1 a
     {
         color: orange;
     }

 /* ***** NEW ***** */

 h2 
     {
         font-size: 24px;
         text-transform: uppercase;
         color: #303030;
         font-weight: 600;
         margin-bottom: 30px;
      }

 h4 
      {
         font-size: 19px;
         line-height: 1.375em;
         color: #303030;
         font-weight: 400;
         margin-bottom: 30px;
      }  







 /* *** Style de la barre de navigation *** */

 .navbar-nav
     {
         margin: auto;
     }

 .nav-item
     {
         padding: 0px 50px;
     }
 
 /* *** Style de l'entete *** */

 header
     {
         background-color: #f8f9fa!important;
     }

 /* *** Style de la section principale *** */

 .mainsection
     { 
         margin-left: 20px;
         margin-right: 20px;
         min-height: 450px;
         margin-top: 20px;
     }

 .mainFrame
     {
         margin-top: 20px;
         margin:auto;
     }
 
 .AcountFrame
     {
         height: 350px;
         background-image: url("logoGrand.webp");
         background-repeat: no-repeat;
         background-position:center;
         background-color: black;
         color: orange;
     }
 
 /* *** Style du carousel *** */
     
 .carousel
     {
         width: 800px;
         margin: auto;
     }
     
 .greybox
     {
         background-color:rgba(43, 47, 49, 0.795);
         width: 800px;
         position: relative; 
         left: -120px;
     }
     
 .carousel-item a
     {
         color: white;
     }
     
 .homeImage
     {
         max-width: 800px;
         border: orange solid 1px;
         border-width: 2px;
     }

 /* *** Style des cartes projets *** */

 /* .card
     {
         justify-content: space-around;
     } */

 .card img
     {
         min-height: 300px;
         max-height: 300px;
         padding-bottom: 5px;
     }

 /* *** Style du formulaire de contact *** */

 #p_contact
     {
         box-shadow: 1px 1px 1px orange;
         border-radius: 3px;
         padding: 8px;
         margin: 16px;
     }

 #img_a
     { 
         border-width: 2px;
         border-radius: 100%;
     }	

 /* *** Style des liens *** */

 li 
     {
         list-style: none !important;
     }
 /* *** Style des boutons *** */

 .btn,
 .btn-primary
     {
         background-color: orange;
         margin-left: 20px;
         margin-right: 20px;
         min-height: 40px;
         min-width: 200px;
         transition-duration: 0.3s;
     }

 .btn:hover
     {
         color: red;
         background-color: orange;
     }

 .btn-primary, 
 .btn-lg,
 .btn-block
     {
         margin: auto;
     }

 .btn a
     {
         text-decoration: none;
         color:white;
     }

 .btn a:hover
     {
         text-decoration: none;
         color: red;
         background-color: orange;
     }
 /* ****************** */

 article p,
 aside p
     {
         font-size: 0.8em;
     }
     
 aside
     {
         flex: 1.2;
         position: relative;
         background-color: #706b64;
         box-shadow: 0px 2px 5px #1c1a19;
         border-radius: 5px;
         padding: 10px;
         color: white;
         font-size: 0.9em;
     }

 /* *** Style de l'élément pagination *** */

 .pagination
     {
         margin-top: 10px;
     }

 /* *** Style du: FOOTER *** */

 .footerMain
     {
         position: relative;
         width: 100%;
         display: flex;
         justify-content: space-around;
         background-color: black;
         color: white;
     }

 .footerMain h1, h2 
     {
         color: orange;
         margin-top: 5px;
     }

 /* *** Style des liens (réseaux sociaux) *** */   

 .fa
     {
         margin-top: 5px;
         text-align: center;
         text-decoration: none;
         padding: 20px;
         font-size: 30px;
         width: 64px;
         border-radius: 50%;
     }
  
  /* Add a hover effect if you want */
 .fa:hover 
     {
         opacity: 0.7;
     }
    
 /* Set a specific color for each brand */
  
 /* YOUTUBE */
 .fa-youtube 
     {
         background: #FF0000;
         color: white;
     }

  /* INSTAGRAM */
  .fa-instagram 
     {
         background: #8a17ad;
         color: white;
     }

 /* SNAPCHAT */
 .fa-snapchat 
     {
         background: rgb(255 252 0);
         color: white;
     }

  /* FACEBOOK */
 .fa-facebook
     {
         background: rgb(24 119 242);
         color: white;
     }
  
  /* TWITTER */
 .fa-twitter 
     {
         background: rgb(29, 161, 242);
         color: white;
     }
     
 .test
     {
         display: block;
         position: relative;
         flex:none;
         max-width: 100%;
     }

     #magazine{
        width: 800px;
        height: 400px;
    }
    #magazine .turn-page {
        width: 400px;
        height: 400px;
        background-color: #ccc;
    }

 /* *** Style des car*** */

 /* Le conteneur 'flip card' configure la hauteur et la largeur souhaitez.
 Nous avons ajouté la propriété 'border' pour démontrer que le flip lui meme sort de la box au survol.
 (supprimez perspective si vous ne souhaitez pas l'effet 3D */
 
 .flip-card 
     {
         background-color: transparent;
         width: 300px;
         height: 200px;
         border: 1px solid #f1f1f1;
         perspective: 1000px; /* Supprimez ceci si vous ne souhaitez pas l'effet 3D */
     }
  
 /* Ce conteneur est nécessaire pour positionner le coté avant et arrière.  */
 .flip-card-inner 
     {
         position: relative;
         width: 100%;
         height: 100%;
         text-align: center;
         transition: transform 0.8s;
         transform-style: preserve-3d;
     }
  
 /* Fait une trnaslation horizontal quand vous déplacez la souris par dessus le conteneur 'flip box' */
 .flip-card:hover .flip-card-inner
     {
         transform: rotateY(180deg);
     }
  
 /* Positionne le coté avant et arrière */
 .flip-card-front, .flip-card-back
     {
         position: absolute;
         width: 100%;
         height: 100%;
         -webkit-backface-visibility: hidden; /* Safari */
         backface-visibility: hidden;
     }
  
 /* Style du coté avant (Solution de rechange si l'image et manquante) */
 .flip-card-front
     {
         background-color: #bbb;
         color: black;
     }
  
 /* Style the back side */
 .flip-card-back 
     {
         background-color: dodgerblue;
         color: white;
         transform: rotateY(180deg);
     }

 /* *** Code en vrac/test *** */

 /* Style du formulaire de contact */

 /* main 
     {
         min-height: 100vh;
         background: linear-gradient(to right top, #ff780a, rgb(0 0 0));
         display: flex;
         align-items: center;
         justify-content: center;
     }

 .main_section
     {
         background: whitesmoke;
         min-height: 80vh;
         width: 60%;
         background: linear-gradient(
             to right bottom, 
                 rgba(255,255,255, 0.8),
                 rgba(255,255,255, 0.2));
         border-radius: 3rem;
     } */

 /* .navbar
     {
     width: 100%;
     }

 .navbar nav ul
     {
     display: flex;
     justify-content: space-around;
     }

 .navbar nav ul li
     {
     list-style: none;
     }

 #services:hover> #dropdown
     {
     display: block;
     }
/*  */
 /* #dropdown
     {
     display: none;
     }  */
.navbar-nav{
    min-width: 100%;
}
.nav-item{
    min-width: 20%;
}
.connection{
    position:relative;
    right:-60px;
}



 