 *{
    font-family: 'Roboto', sans-serif;
 }
 
 .btn,.btn-primary{
     background-color: orange;
     margin-left: 20px;
     margin-right: 20px;
 }
.mainsection{
     /* margin: auto; */
     margin-left: 20px;
     margin-right: 20px;
     min-height: 450px;
}
 .AcountFrame{
     height: 350px;
     background-image: url("logoGrand.webp");
     background-repeat: no-repeat;
     background-position:center;
     background-color: black;
     color: orange;
 }

h1 {
    text-align: center;
}

 .TextFrame h1{
     font-size: 1rem;
 }
 .TextFrame h1 a{
     color: orange;
 }
.navbar-nav{
     margin: auto;
}
.nav-item{
     padding: 0px 50px;
}

/* .navbar{
    width: 100%;
}
 .navbar nav ul{
     display: flex;
     justify-content: space-around;
 }
 .navbar nav ul li{
     list-style: none;
 }
 #services:hover> #dropdown{
     display: block;
 }
 #dropdown{
     display: none;
 } */
 
.carousel{
    width: 800px;
    margin: auto;
}
.greybox{
    background-color:rgba(43, 47, 49, 0.795);
    width: 800px;
    position: relative; 
    left: -120px;
}
.carousel-item a{
    color: white;
}

.homeImage{
    max-width: 800px;
    border: orange solid 1px;
    border-width: 2px;
}

 .footerMain{
     position: relative;
     width: 100%;
     /* bottom: 20px; */
     display: flex;
     justify-content: space-around;
     background-color: black;
     color: white;
}

 .footerMain h1 {
     color: orange;
}

/* Style all font awesome icons */
.fa {
     margin-top: 5px;
     text-align: center;
     text-decoration: none;
     padding: 20px;
     font-size: 30px;
     width: 64px;
     border-radius: 50%;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }
  
  /* Set a specific color for each brand */
  
 /* YOUTUBE */
 .fa-youtube {
     background: #FF0000;
     color: white;
  }

  /* INSTAGRAM */
  .fa-instagram {
     background: #8a17ad;
     color: white;
  }

 /* SNAPCHAT */
 .fa-snapchat {
     background: rgb(255 252 0);
     color: white;
  }

  /* FACEBOOK */
  .fa-facebook {
     background: rgb(24 119 242);
     color: white;
  }
  
  /* TWITTER */
  .fa-twitter {
     background: rgb(29, 161, 242);
     color: white;
  }



