 {% extends 'base.html.twig' %}


     {% block metaTitle %}
         " Gestionnaire de projet "
     {% endblock %}


     {% block title %}
         Gestionnaire de projet
     {% endblock %}

     {% block body %}
       
         <h1 class="h3 mb-3 font-weight-normal"> Gestionnaire de projet </h1>
         
         {{ include('projet/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

             <a class="btn btn-primary btn-lg btn-block" href="{{ path('projet_index_user' , {'login': app.user.login}) }}"> Retour à la liste </a>

         {{ include('projet/_delete_form_user.html.twig') }}

 {% endblock %}
