 {% extends 'base.html.twig' %}

     {% block metaTitle %}
         " Page de contact "
     {% endblock %}

     {% block title %}
         Contact 
     {% endblock %}

     {% block body %}

        <main>
         <div class="container">
            <article class="contact"> 
             <div class="row">

                 <!-- Div Gauche -->   
                <div class="col-6">

                     <!-- Photo de présentation du contact -->  
                     <figure class="contactFig">	

                         <img id="img_a" src=" {{ asset ('Photos/coverlexos1.jpg')}}" alt="Photo de présentation du contact."/>
                         <figcaption> Lexos Block Studio </figcaption>

                     </figure>	

                </div>

                 <!-- Div Droite-->   
                <div class="col-6">

                     <!-- Titre de l'article -->                                     
                     <h1 id="h1_contact"> Contact </h1>

                         
                             <p>                                       
                                 Nos studios sont situés en plein centre-ville de Corbeil-Essonnes dans une rue commerçante. Notre équipe vous accueuil dans des locaux entièrement insonorisés de 80 m², avec deux contrôle room de 20 m² et 15m², deux cabines d'enregistrement de 7 m² chacune. Nous vous proposons la possibilité de faire du mixage et du mastering pour finaliser vos morceaux, afin de donner à vos créations un aspect professionnel.
                                
                                 Nos studios sont destinés aux projets en équipe réduite 5 personnes maximum, idéals pour les voix et les petits instruments.
                                
                                 Pour votre confort, nous mettons à votre disposition une télévision, cafetière, réseau WiFi...
                                
                                 Nos ingénieurs du son sont très compétents dans des styles très variés hip-hop, R&B, dancehall, musique africaine, latina…
                                
                                 Ils sont à votre écoute pour donner à vos titres le son qu’ils méritent.
                                
                                 Grâce à des forfaits adaptés à tous les budgets, la clientèle du studio comprend aussi bien des artistes amateurs que confirmés ainsi que de nombreux labels, DJ, et producteurs indépendants.
                             </p>
                </div>
                
             </div>
            </article>
         </div>
        </main>    



















 {% endblock %}
