 {% extends 'base.html.twig' %}


     {% block metaTitle %}
         "Page de contact"
     {% endblock %}


     {% block title %}
         Contact 
     {% endblock %}

     {% block body %}

         <div class="container">

             {# *** Titre de l'article *** #}
                 <h1 class="h3 mb-3 font-weight-normal" id="h1_contact"> Contact </h1>
 
                     <main class="container">
                           
                         {#  *** Photo de présentation du contact *** #}
                         {# <img id="img_a" src=" {{ asset ('Photos/coverlexos1.jpg')}}" alt="Photo de présentation du contact: Lexos Block Studio" style="max-width:50%; max-height:50%;"/> #}
                        
                             <p>                                       
                                 Nos studios sont situés en plein centre-ville de Corbeil-Essonnes dans une rue commerçante. <br/>
                                 
                                 Notre équipe vous accueuil dans des locaux entièrement insonorisés de 80 m², avec deux contrôle room de 20 m² et 15m², deux cabines d'enregistrement de 7 m² chacune. Nous vous proposons la possibilité de faire du mixage et du mastering pour finaliser vos morceaux, afin de donner à vos créations un aspect professionnel.
                                
                                 Nos studios sont destinés aux projets en équipe réduite 5 personnes maximum, idéals pour les voix et les petits instruments.
                                
                                 Pour votre confort, nous mettons à votre disposition une télévision, cafetière, réseau WiFi...
                                
                                 Nos ingénieurs du son sont très compétents dans des styles très variés hip-hop, R&B, dancehall, musique africaine, latina…
                                
                                 Ils sont à votre écoute pour donner à vos titres le son qu’ils méritent.
                                
                                 Grâce à des forfaits adaptés à tous les budgets, la clientèle du studio comprend aussi bien des artistes amateurs que confirmés ainsi que de nombreux labels, DJ, et producteurs indépendants.
                             </p>

                     </main> 

                 {# ********************************************************************* #}
                 {# *** Partie: Mappemonde - Carte, Emplacement du studio (GoogleMap) *** #}
                 {# ********************************************************************* #}   

                     <article class="container"> 
                         
                         <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1372.152298507109!2d2.482557!3d48.613103!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e5e12ac46cf043%3A0x5a933e873e3d5ca9!2sBlockstudio!5e1!3m2!1sfr!2sau!4v1618882426527!5m2!1sfr!2sau" 
                                 width="100%" 
                                 height="400px"                                  
                                 style="border:0;" 
                                 allowfullscreen="" 
                                 loading="lazy"
                                 satellite="true"
                                 lang="fr">
                         </iframe>

                     </article>

         </div>

       
     {% endblock %}



         {# 
             <div class="container">

                 <div style="text-align:center">

                     <h2> Contact Us </h2>

                         <p> 
                            Pour faire une demande de réservations, ou simplement nous laisser un message:                      
                         </p>

                 </div>

                 <div class="row">

                     <div class="column">
                       <img src="/w3images/map.jpg" style="width:100%">
                     </div>

                     <div class="column">

                         <form action="/action_page.php">

                             <label for="pseudo"> Pseudo </label>
                             <input type="text" id="pseudo" name=" Pseudo " placeholder="Votre Pseudo...">

                             <label for="email"> Email </label>
                             <input type="text" id="email" name=" Email " placeholder="Votre Email...">

                             <label for="sujet"> Sujet: </label>
                             <textarea id="sujet" name="Sujet" placeholder="Le sujet de votre message" style="height:170px"></textarea>
                             
                             <input type="submit" value="Submit"> 

                             
                                 <label for="country"> Pays </label>
                                 <input type="text" id="pays" name="Pays" placeholder="Your last name..">
                                 
                                     <select id="country" name="country">                          
                                         <option value="australia"> Australia </option>
                                         <option value="canada"> Canada </option>
                                         <option value="usa"> USA </option>                      
                                     </select>
                            
    
                         </form>

                     </div>

                 </div>

             </div> 

         #}



     