 {% extends 'base.html.twig' %}


     {% block metaTitle %}
         "livre_dor"
     {% endblock %}


     {% block title %}
         Livre d'or
     {% endblock %}



     {% block body %}

         <body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">

             <div class="example-wrapper">

                 <h1 class="h3 mb-3 font-weight-normal"> Livre d'or </h1>

             </div>
         
         {# *** CAROUSSEL COMMENTAIRES *** #}

             {# * Titre de la section * #}
             <h2> Ce que dit notre clientèle </h2>

                 {# * Conteneur * #}
                 <div id="myCarousel" class="carousel slide text-center" data-ride="carousel">

                     <!-- Indicators -->
                     <ol class="carousel-indicators">
                         <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                         <li data-target="#myCarousel" data-slide-to="1"></li>
                         <li data-target="#myCarousel" data-slide-to="2"></li>
                     </ol>
               
                     <!-- Wrapper for slides -->
                     <div class="carousel-inner" role="listbox">

                     <div class="item active">
                         <h4>"Le meilleur studio du monde. Je suis trop content du résultat!"<br><span>Michael Roe, Artiste: rappeur, Essonne </span></h4>
                     </div>

                     <div class="item">
                         <h4>"Un mot... WOW!!"<br><span>John Doe, Artiste: beatmaker, Paris </span></h4>
                     </div>

                     <div class="item">
                         <h4>"Could I... BE any more happy with this company?"<br><span>Chandler Bing, Singer, Texas</span></h4>
                     </div>

                     </div>
               
                     <!-- Left and right controls -->
                     <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                         <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                         <span class="sr-only"> Précédent </span>
                     </a>

                     <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                         <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                         <span class="sr-only"> Suivant </span>
                     </a>

                 </div>

             {# </div> #}

         </body>

 {% endblock %}
