{% extends 'base.html.twig' %}


     {% block metaTitle %}
         " Gérer mon profil "
     {% endblock %}


     {% block title %}
         Gérer mon profil
     {% endblock %}

     {% block body %}

         <h1> Gérer mon profil </h1>


     {{ include('user/_formEditCurrent.html.twig', {'button_label': 'Mettre à jour'}) }}

         <button class="btn btn-lg btn-primary">
             <a href="{{ path('user_index') }}"> Retour à la liste </a>
         </button>

         {# <a class="btn btn-secondary btn-sm" href="{{ path('user_index') }}"> Retour à la liste </a> #}

     {{ include('user/_delete_form.html.twig') }}

     {% endblock %}
 